<div>
    <h1>About Lane County</h1>
</div>

<div>
    <div>
        <p>Lane County stands among the 36 counties in the state of Oregon, USA. According to the 2023 census, its population reached 392,349, ranking it as the fourth-most populous county in Oregon. Eugene, the second-largest city in the state, serves as the county seat. The county is named in tribute to Joseph Lane, who held the distinction of being Oregon's inaugural territorial governor.</p>
    </div>
    <div>
        <P>Eugene is home to the University of Oregon, where over 22 thousand students from over the county receive higher education. It offers a tier 1 program as a National Public Research institution. Its ranked in the top 49th Public School in the Nation. GO DUCKS!</P>
    </div>
    <div>
        <p>Housing costs in Eugene are around 30% higher than the national average, which puts the average price of a home around $400,0001. The median sale price of a home in Eugene was $522K last month, up 5.5% since last year. The median sale price per square foot in Eugene is $307, up 2.7% since last year. For a single adult in Eugene, the total housing costs, groceries, childcare services, commuting, medical services, taxes, and other needs are $35,551 per year.</p>
    </div>
</div>
