<div>
    <h1>Help ?</h1>
</div>

<div>
    <p>We are here to help you. Please let us know what we can help you with and we will contact you as soon as possible!</p>
    <form>
        <input type="text" value="Enter name..."/><br />
        <input type="text" value="Enter email address..." /><br />
        <input type="text" value="Tell us what your problem is" /><br />
        <input type="submit" value="Submit" /><br />
    </form>
</div>