@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Explore the dynamic landscape of career opportunities in Lane County by understanding economic trends.Join us in building a stronger Lane County economy by empowering individuals to make strategic career choices that align with the region's economic trajectory.</p>
</div>

<div>
    <h1>Empowering Futures</h1>
    <form>
        <label for="email">Get Started...</label>
        <input type="text" value="Enter Your Email Address Here..."/>
        <input type="submit" value="Enter"/>
    </form>
</div>

<div>
    <p>
        By providing comprehensive insights into economic trends, we empower the public, educators, and industry professionals to collaborate seamlessly. Explore our platform to gain a deeper understanding of Lane County's economic landscape, ensuring that together, we can make decisions that not only secure high-wage employment but also strengthen the fabric of our community.
    </p>
</div>

<div>
    <div>
        <a class="" asp-area="" asp-controller="Data" asp-action="Index">Data</a>
    </div>
    <div>
        <a class="" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
    </div>
    <div>
        <a class="" asp-area="" asp-controller="Jobs" asp-action="Index">Find What's Right</a>
    </div>
    <div>
        <a class="" asp-area="" asp-controller="Home" asp-action="About">About Lane County</a>
    </div>
</div>




<div>
    <h1>-> <a class="" asp-area="" asp-controller="Home" asp-action="Newsletter">News Letter</a></h1>
    <p>Our newsletter is your key to unlocking valuable information, including high-demand industries, emerging opportunities, and expert advice. Delivered regularly to your inbox, it's the perfect resource for those looking to make informed decisions that drive success.</p>
</div>

