@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Job Discovery Site</h1>
    <p>Discover Jobs in the Eugene-Springfield area!</p>

</div>

<div class="card shadow-sm w-75 container mt-5 card text-center mb-3">
    <form method="Post">
        <div class="card-body shadow-lg">
            <label for="Email">If you would like the join the Email:</label>
            <input id="Email" name="Email" />
        </div> 
    </form>
</div>
