@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Job Discovery Site</h1>
    <p>Discover Jobs in the Eugene-Springfield area!</p>

</div>

    <a class="btn btn-outline-secondary btn-lg card p-3 shadow-sm" asp-area="" asp-controller="Home" asp-action="Newsletter">News Page.</a>

