<body class="newsletter">
    <div>
        <h1>
            News Letter
        </h1>
    </div>
    
    <div class="Rain">
        <h2>Oregon RAIN</h2>
        <p>
            Fueled by a plethora of groundbreaking ideas emerging from the University of Oregon and Oregon State University, coupled with a pressing need for capital to fuel the growth of nascent startups stemming from these concepts, Oregon RAIN emerged. This public-private partnership is dedicated to facilitating connections between entrepreneurs in Lane, Linn, Lincoln, and Benton counties, linking them with vital resources to propel early-stage companies to new heights.
        </p>
    </div>

    <div class="Work">
        <h2>Lane Workforce</h2>
        <p>
            The Lane Workforce Partnership has undertaken the mission of readying individuals for employment in a rapidly evolving economy. Over the past year, the organization established ambitious objectives, and not only are they meeting these goals, but they are also surpassing them in ways that extend beyond measurable outcomes. As the officially designated Workforce Investment Board for Lane County, Oregon, the board assumes the responsibility of strategically allocating federal funds through targeted investments within the community. In alignment with its mission, Lane Workforce Partnership (LWP) continues to operate with a commitment to fostering economic growth and workforce development in the region.
        </p>
    </div>

    <div class="county">
        <h2>Connected Lane County</h2>
        <p>
            In the heart of our community, Connected Lane County stands as a beacon of collaboration and commitment to the youth's educational journey. As a non-profit organization, we wholeheartedly support childhood partners and work hand-in-hand with local school districts, institutions of higher education, the local workforce board, and industry innovators. Thaks to this organization, hundreds of youths in our community benefit form higher learning education. Support Connected Lane County here!
        </p>
    </div>

    <div class="card shadow-sm w-75 container mt-5 card text-center mb-3">
        <form method="Post">
            <div class="card-body shadow-lg">
                <label style="color: black;" for="Email">If you would like the join the Email:</label>
                <input id="Email" name="Email" />
                <button type="submit" class="btn btn-primary">Sign Up.</button>
            </div>
        </form>
    </div>
</body>


