@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="SWMG">
  
    <h1>@ViewData["Title"]</h1>

    <p>This webpage is sponsered by the shadow government</p>

    <video src="~/files/ShadowWizardMoneyGang.mp4" autoplay width="75%"></video>
</div>
