html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item{
    margin: 5px;
    padding: 5px;
    width: 150px;
}
.SWMG {
    background: src("~/files/SWMG.jpg");
}
.newsletter {
    background: rgb(200,17,17);
    background: linear-gradient(180deg, rgba(200,17,17,1) 0%, rgba(214,46,21,1) 44%, rgba(200,80,29,1) 68%, rgba(255,154,0,1) 100%);
}