@model List<Job>
<div>
    <h1>Job Navigator</h1>
</div>

<div>
    <form method="post">
        <input type="text" name="job"/>
        <select id="industry" name="industry">
            <option>Industry</option>
            <option>Bio Science</option>
            <option>Nutrition</option>
            <option>Technology</option>
            <option>Wood Working</option>
            <option>Healthcare</option>
            <option>Sports</option>
        </select>
       @*  <select>
            <option>Filter</option>
            <option>heres an option</option>
            <option>heres an option</option>
        </select> *@
        <input type="submit"/>
    </form>
</div>

<div>
    @if (Model != null) {
        @foreach (var job in Model)
        {
            <div>
                <p>@job.JobName</p>
                <p>@job.Industry.Name</p>
                <p>@job.AvgWage</p>
            </div>
        }
    }
</div>

<div>
    1   2   3   ...   >
</div>