<div>
    <h1>Job Navigator</h1>
</div>

<div>
    <form>
        <input type="text"/>
        <select id="industry">
            <option>Industry</option>
            <option>Bio Science</option>
            <option>Nutrition</option>
            <option>Technology</option>
            <option>Wood Working</option>
            <option>Healthcare</option>
            <option>Sports</option>
        </select>
        <select>
            <option>Filter</option>
            <option>heres an option</option>
            <option>heres an option</option>
        </select>
    </form>
</div>

<div>
    <table>
        <tr>
            <th>Job Title</th>
            <th>Something?</th>
            <th>Wage</th>
        </tr>
        <hr />
        <tr>
            <td>

            </td>
        </tr>
    </table>
</div>

<div>
    1   2   3   ...   >
</div>