<div>
    <h1>Data</h1>
</div>

<div>
    <p> Our platform is a hub of meticulously curated data, offering a comprehensive analysis of economic trends, employment opportunities, and industry forecasts.</p>
    <div>
        <h1>Lane County Economy Graph Here</h1>
        <p>Possibly make this graph interactive </p>
    </div>
    <div>
        <h1>Industries</h1>
        <p>
            Explore the Industries offered in Lane County and
            their status. Find what’s best for you!
        </p>
    </div>
    <div>
        <div>
            <h2>Bio Sciences</h2>
            <form method="post">
                <input value="Bio" hidden/>
                <btn></btn>
            </form>
        </div>
        <div>
            <h2>Nutrition</h2>
        </div>
        <div>
            <h2>Technology</h2>
        </div>
        <div>
            <h2>Wood Working</h2>
        </div>
        <div>
            <h2>Healthcare</h2>
        </div>
        <div>
            <h2>Sports</h2>
        </div>
    </div>
</div>